  body {
      background-color: #fdf4f7;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      padding: 0;
    }

    .signup-container {
      max-width: 400px;
      margin: 60px auto;
      background-color: white;
      border-radius: 12px;
      padding: 30px ;
      box-shadow: 0 8px 16px rgba(203, 145, 159, 0.2);
    }

    h2 {
      text-align: center;
      color: #b87394;
      font-family: 'Playfair Display', serif;
      margin-bottom: 25px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: #9b5c75;
      font-weight: bold;
      margin-top: 15px;
    }

    input {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #e2bccc;
      background-color: #fff8fa;
      margin-bottom: 10px;
      font-size: 14px;
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #e69fb3;
      border: none;
      border-radius: 8px;
      color: white;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      margin-top: 20px;
      transition: background 0.3s;
    }

    button:hover {
      background-color: #d98aa2;
    }

    .back-home {
      text-align: center;
      margin-top: 20px;
    }

    .back-home a {
      text-decoration: none;
      color: #b87394;
      font-weight: bold;
    }